version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: financial-backend
    restart: unless-stopped
    env_file:
      - ../env/.env
    ports:
      - "8001:8001"
    command: >
      uvicorn app:app
      --host 0.0.0.0
      --port 8001
      --reload
